#game{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  #bootle {
    height: 85vh;
    width: 320px;
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-template-rows: repeat(20, 1fr); 
    gap: 1px; /* Espacio entre las celdas */
    border: 1px solid #ccc; /* Borde del tablero */
    background-color: #f0f0f0; /* Color de fondo del tablero */    
    .cell{
      border: 1px solid #000; /* Borde de cada celda */
      color: #000;
    }
  }

  .active{
    border: 1px solid #000; /* Borde de cada celda */
    background-color: red;
  }
}